@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');

body {
    font-family: Averia Libre, Arial, Helvetica, sans-serif;
    background: #372775;
}

.espacoHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linkSair {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 32px;
    color: #3F92C5;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 20%;
    padding-left: 12px;
    align-items: center;
}

h1 {
    font-size: 40px;
    color: #FFFFFF;
}

.imagemLogo {
    margin-right: 12px;
    height: 40px;
}

.acoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.opcao {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    background: #312464;
    margin-top: 100px;
    padding: 40px 100px;
    text-align: center;
    font-size: 54px;
    font-weight: 400;
    line-height: 43px;
    width: 220px;
    border-radius: 10px;
    text-wrap: nowrap;

}

i.material-symbols-outlined {
    font-size: 160px;
}