@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');

body {
    font-family: Averia Libre, Arial, Helvetica, sans-serif;
    background: #372775;
}

.espacoHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.linkSair {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 32px;
    color: #3F92C5;
}

.tituloPergunta {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30vh;
}


h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 57px;
    color: #FFFFFF;
}

.avaliacao {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
}

.imagem {
    width: 160px;
}

.nota {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    color: #FFFFFF;
    text-decoration: none;
}