@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #372775;
    font-family: Averia Libre, Arial, Helvetica, sans-serif;
}

main{
    margin: auto;
}

/* cards */
.container{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #ffff;
    margin: 0 30px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.container-wrapper {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
    width: 90vw;
    height: 60vh;
    gap: 10px;
    margin-top: 80px;
    max-width: 1200px;
}

.subtituloBox{
    font-size:15px;
    color:gray;
    position: absolute;
    margin-top: 215px;   
}


/* navbar */
.tituloPagina{
    max-width: 100%;
    width: 100%;
    color: #fff;
    text-align: left;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 40px;
}

.tituloBox{
    font-size: 30px;
    color: #3F92C5;
    margin: 10px;
    text-align: center;
}

.navbar{

    position: absolute;
    width: 100%;
    top: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.botaoNovaPesquisa{
    background-color:#37BD6D;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5em 1em;
}

.containerBotao{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    position: absolute;
    width: auto;
    height: auto;
    top:20px;
    right: 100px;
    font-size: 1.2em;
    margin-left: 1em;
            
}

.containerSair{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: auto;
    height: auto;
    top:30px;
    right: 50px;
    margin-left: 1em;
}

.sair{
    color: #3F92C5;
    font-size: 18px;
}

a{
    text-decoration: none;
}


/* ícones */
.icon{
    width: 100px;
    height: 100px;
}

.icon-2{
    width: 50px;
    height: 100px;
}

.icon-smile{
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-right: 10px;
}


/* container de busca */
.busca-container{
   position: absolute;
    top: 100px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #ffffff00;
    padding: 10px;
    width: 92%;
    border-radius: 5px;
    z-index: 1000;

}

.busca-input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    background: url(../icons/lupa-icon.png) no-repeat 10px center;
    background-size:20px 20px ;
    background-color: white;
    padding-left: 40px;
    width: 97%;

}


.textoSemPesquisa{
    font-size: 35px;
    color: white;
}

@media screen and (max-width: 500px){

    .tituloPagina{
        margin-top: 5px;
        font-size: 26px;
    }

    .navbar{
        position: absolute;
        width: 100%;
        display: flex;
    }
    
    .botaoNovaPesquisa{
        font-size: 15px;
        margin-top: -10px ;
    }

    .icon-smile{
        width: 30px;
        height: 30px;
        margin-top: 3px;
        margin-right: 8px;
        margin-left: 5px;
    }
    
    .containerBotao{
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        position: absolute;
        width: 50px;
        height: auto;
        
                
    }
    
    .containerSair{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: auto;
        height: auto;
        top:60px;
        right: 50px;
        margin-left: 1em;
    }
    
    .sair{
        color: #3F92C5;
        font-size: 18px;
    }

    .busca-container {
        position: absolute;
        top: 80px;
        left: 165px;
        width: 90%;
        max-width: 250px; 
        margin-top: 20px;
    }

    .busca-input {
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
    }

   /* .container-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%,1fr));
        gap:20px;
    }*/
}

