@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');

.tituloPagina{
    color: #fff;
    text-align: left;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 36px;
    left: 26px;
    font-size: 40px;
}

.icon-smile{
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-right: 10px;
}
body{
    font-family: Averia Libre, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #372775;
}

.container-pai{
    width: 480px;
    height:410px;/*455**/
    border: 1px solid #737373;
    background-color: #372775;
    border-radius: 10px;
    padding: 18px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;

}
.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
}
.row1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 90px;
}
.centralizado-horizontal1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

form{
    text-align: left;
}

label{
    font-size: 24px;
    color:#fff;
}
.tituloForm{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align:center;
    font-size: 25px;
    color:#fff;

}

input[type="email"], [type="password"]{
    width: 100%;
    width: 424px;
    padding: 10px;
    padding-bottom: 10px;
    background-color: white;
}
button[type="submit"]{
    font-family: Averia Libre, Arial, Helvetica, sans-serif;
    background-color:#37BD6D;
    color: #fff;
    font-size: 20px;
    width: 134px;
    height: 40px;
    padding: 10px;
    border: 1px;
    border-radius: 10px;
    position: absolute;
    right: 35px;
    bottom: 30px;
    cursor: pointer;
    margin-bottom: 10px;
}
::placeholder{
    color: #3F92C5;
    font-size: 18px;
    font-family: Averia Libre, Arial, Helvetica, sans-serif;
}

.invalidos{
    color: #FD7979;
    font-size: 16px;
    margin: 0px;
}
.esqueciSenha{
    color: #3F92C5;
    font-size: 18px;
    text-decoration: none;
}

.criarConta{
    color:#3F92C5;
    font-size: 20px;
}