@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');

.container{
    width: 400px;
    height: auto;
    padding: 20px;
    border: 1px solid gray;
    background-color: #372775;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 85px;
}

form{
    text-align: left;
    flex-grow: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
}

body{
    background-color: #372775;
    font-family: Averia Libre, Arial, Helvetica, sans-serif;
}

label{
    font-size: 20px;
    color:#fff;
}

.tituloForm{
    font-size: 25px;
    text-align: center;
    color:#fff;
}

.tituloPagina{
    color: #fff;
    text-align: left;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 40px;
}

input[type="text"], [type="date"], [type="file"]{
    width: 100%;
    width: 380px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
}

::placeholder{
    color: #3F92C5;
    font-size: 18px;
}

input[type="submit"]{
    background-color: #37BD6D;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 110px;
}

.containerSalvar{
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: auto;
}

.icon-smile{
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-right: 10px;
}