.tituloPagina{
    color: #fff;
    text-align: left;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 40px;
}
.navbar{
    position: fixed;
    width: 100%;
    top: 10px;

}
.icon-smile{
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-right: 10px;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #372775;
    font-family: 'Averia Libre'
}
.container{
    width: 400px;
    height:320px;
    padding: 20px;
    border: 1px solid #737373;
    background-color: #372775;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    text-align: left;
}

label{
    font-size: 24px;
    color:#fff;
}
.tituloForm{
    font-size: 25px;
    text-align: center;
    color:#fff;
}

input[type="email"], [type="password"]{
    width: 100%;
    width: 380px;
    padding: 10px;
    padding-bottom: 10px;
    background-color: white;

}
button[type="submit"]{
    background-color:#37BD6D;
    color: #fff;
    font-size: 20px;
    width: 134px;
    height: 40px;
    padding: 10px;
    border: 1px;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.senhas{
    color: #FD7979;
    padding-left: 3px;
    padding-bottom: 25px;
    font-size: 16px;
}
::placeholder{
    color: #3F92C5;
    font-size: 18px;

}