@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');

body {
    font-family: Averia Libre, Arial, Helvetica, sans-serif;
    background: #372775;
}

.espacoHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linkSair {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 32px;
    color: #3F92C5;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 20%;
    padding-left: 12px;
    align-items: center;
}

h1 {
    font-size: 40px;
    color: #FFFFFF;
}

.imagemLogo {
    margin-right: 12px;
    height: 40px;
}

.relatorio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px;
}

.grafico {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: conic-gradient(#F1CE7E 72deg,
            #6994FE 0 110deg,
            #EA7288 0 160deg,
            #53D8D8 0 240deg,
            #5FCDA4 0 360deg);
}

.legendas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    row-gap: 100px;
    font-size: 60px;
    color: #FFFFFF;
}

.material-symbols-outlined {
    margin-right: 24px;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

.excelente i {
    font-size: 80px;
    color: #F1CE7E;
}

.bom i {
    font-size: 80px;
    color: #6994FE;
}

.neutro i {
    font-size: 80px;
    color: #EA7288;
}

.ruim i {
    font-size: 80px;
    color: #53D8D8;
}

.pessimo i {
    font-size: 80px;
    color: #5FCDA4;
}